In [21]:
#pandas library functions implementation
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import pandas as pa
#panda step tracking using series function
step_data=[3620,7891,9761,3907,4338,5373]
step_counts=pa.Series(step_data,name='steps')
print(step_counts)
#add date range to series function
step_counts.index=pa.date_range('20180129',periods=6)
print(step_counts)
#use it like dictionary
print(step_counts['20180130'])
#print all of '01' january
print(step_counts['2018-01'])

0    3620
1    7891
2    9761
3    3907
4    4338
5    5373
Name: steps, dtype: int64
2018-01-29    3620
2018-01-30    7891
2018-01-31    9761
2018-02-01    3907
2018-02-02    4338
2018-02-03    5373
Freq: D, Name: steps, dtype: int64
7891
2018-01-29    3620
2018-01-30    7891
2018-01-31    9761
Freq: D, Name: steps, dtype: int64

In [18]:
#working with data types
#view data type
print(step_counts.dtypes)
#convert data type (int64) to float
step_counts=step_counts.astype(np.float)
print(step_counts.dtypes)

int64
float64

In [19]:
#invalid data points can be filled with values
step_counts[1:3]=np.NaN
print(step_counts) #invalid data
#filling invalid data with zeroes
step_counts= step_counts.fillna(0.)
print(step_counts[1:3])

2018-01-29    3620.0
2018-01-30       NaN
2018-01-31       NaN
2018-02-01    3907.0
2018-02-02    4338.0
2018-02-03    5373.0
Freq: D, Name: steps, dtype: float64
2018-01-30    0.0
2018-01-31    0.0
Freq: D, Name: steps, dtype: float64

In [34]:
#dataframes creation and methods
#create dataframes from lists,dictionaries and pandas series.
cycling_data=[10.7, 0, None, 2.4, 15.3, 10.9, 0, None]
joined_data=list(zip(step_data,cycling_data))
activity_df=pa.DataFrame(joined_data)
print(activity_df)
#add columns names to dataframe
activity_df=pa.DataFrame(joined_data,index=pa.date_range('20180129',periods=6),columns=['walking','cycling'])
print(activity_df)
#select row of dataframe using "loc" or "iloc"
print(activity_df.loc['2018-01-30']) 
print(activity_df.iloc[-3])
#dataframes columns can be indexed by names
print(activity_df['walking'])
#object oriented approach
print(activity_df.walking)

      0     1
0  3620  10.7
1  7891   0.0
2  9761   NaN
3  3907   2.4
4  4338  15.3
5  5373  10.9
            walking  cycling
2018-01-29     3620     10.7
2018-01-30     7891      0.0
2018-01-31     9761      NaN
2018-02-01     3907      2.4
2018-02-02     4338     15.3
2018-02-03     5373     10.9
walking    7891.0
cycling       0.0
Name: 2018-01-30 00:00:00, dtype: float64
walking    3907.0
cycling       2.4
Name: 2018-02-01 00:00:00, dtype: float64
2018-01-29    3620
2018-01-30    7891
2018-01-31    9761
2018-02-01    3907
2018-02-02    4338
2018-02-03    5373
Freq: D, Name: walking, dtype: int64
2018-01-29    3620
2018-01-30    7891
2018-01-31    9761
2018-02-01    3907
2018-02-02    4338
2018-02-03    5373
Freq: D, Name: walking, dtype: int64

In [72]:
#reading data(CSV and other common files) with pandas
filename='/data/Iris_Data.csv'
data=pa.read_csv(filename) 
print(data.iloc[:5])
#data can be (re)assignned to data frame column
data['sepal_area']=data.sepal_length * data.sepal_width
print(data.iloc[:5,-3:])
#applying function to a dataframe
data['abbrev']= (data.species.apply(lambda x:x.replace('Iris-','')))
print(data.iloc[:5])

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
   petal_width      species  sepal_area
0          0.2  Iris-setosa       17.85
1          0.2  Iris-setosa       14.70
2          0.2  Iris-setosa       15.04
3          0.2  Iris-setosa       14.26
4          0.2  Iris-setosa       18.00
   sepal_length  sepal_width  petal_length  petal_width      species  \
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

   sepal_area  abbrev
0       17.85  setosa
1       14.70  setosa
2       15.04  setosa
3       14.26  setosa
4       18.00  setosa

In [73]:
#concatenating two dataframes
#concatenate first 2 and last2 rows
small_data= pa.concat([data.iloc[:2],data.iloc[-2:]])
print(small_data)
print(data[2:3])
#for sql like join use "merge" function
#small_data2=pa.merge(data.iloc[2:5],data.iloc[10:14],on='species')
#print(small_data2)

     sepal_length  sepal_width  petal_length  petal_width         species  \
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

     sepal_area     abbrev
0         17.85     setosa
1         14.70     setosa
148       21.08  virginica
149       17.70  virginica
   sepal_length  sepal_width  petal_length  petal_width      species  \
2           4.7          3.2           1.3          0.2  Iris-setosa

   sepal_area  abbrev
2       15.04  setosa

In [86]:
#aggregrated statistics ith group by
group_sizes=(data.groupby('species').size())
print(group_sizes)
#statistical calculation 
print(data.mean())
print("median",data.petal_length.median())
print("mode",data.petal_length.mode())
print("standard deviation",data.petal_length.std(),"\nvariance",data.petal_length.var(),"\nsem",data.petal_length.sem())
print(data.quantile(0))
#multiple statistical calculations can be presented as dataframe
print(data.describe())

species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64
sepal_length     5.843333
sepal_width      3.054000
petal_length     3.758667
petal_width      1.198667
sepal_area      17.806533
dtype: float64
median 4.35
mode 0    1.5
dtype: float64
standard deviation 1.7644204199522617
variance 3.1131794183445156
sem 0.144064324021
sepal_length     4.3
sepal_width      2.0
petal_length     1.0
petal_width      0.1
sepal_area      10.0
Name: 0, dtype: float64
       sepal_length  sepal_width  petal_length  petal_width  sepal_area
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.054000      3.758667     1.198667   17.806533
std        0.828066     0.433594      1.764420     0.763161    3.368693
min        4.300000     2.000000      1.000000     0.100000   10.000000
25%        5.100000     2.800000      1.600000     0.300000   15.645000
50%        5.800000     3.000000      4.350000     1.300000   17.660000
75%        6.400000     3.300000      5.100000     1.800000   20.325000
max        7.900000     4.400000      6.900000     2.500000   30.020000

In [88]:
#sampling n rows from existing dataframe
sample=(data.sample(n=5,replace=False,random_state=42))
print(sample.iloc[:,-3:])

             species  sepal_area      abbrev
73   Iris-versicolor       17.08  versicolor
18       Iris-setosa       21.66      setosa
118   Iris-virginica       20.02   virginica
78   Iris-versicolor       17.40  versicolor
76   Iris-versicolor       19.04  versicolor